@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    width: 40.3rem;
    height: 23.37rem;
    margin: auto;
    margin-top: 8rem;
}
h2{
    text-align: center;
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #091E42;

 }
   input,label {
    padding: 0.3rem;
}   
 .inputs1,.inputs2 {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: space-around;
    padding: 0.8rem;

}
.input-container1,.input-container2,.input-container3,.input-container4 {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
   
    
}
input{
    color: #091E42;
    background: #FAFBFC;
    width: 15rem;
    height: 1.9rem;
    border: 0.1rem solid #DFE1E6;
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
    margin-left:0.21rem;


}
::placeholder {
font-family: 'Lato', sans-serif; 
font-size: 0.87rem;
font-style: normal;
font-weight: 400;
line-height: 1.4rem;
text-align: left;
color: #BDBDBD;


}
.all-btns {
    display: flex;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-left: 3.5rem;

    /* justify-content: space-evenly; */
    
}
#btn {
font-family: 'Lato', sans-serif;
color: #fff;
font-size: 1.12rem;
font-style: normal;
font-weight: 700;
text-align: center;
background: #2684FF;
border: none;
width: 7.9rem;
height: 2rem;
border-radius: 0.3rem;
}

#reset {
font-family: 'Lato', sans-serif;
color: #2684FF;
background: #F2F2F2;
font-size: 0.8rem;
font-style: normal;
font-weight: 700;
text-align: center;
border: 0.1rem solid #2684FF;
width: 7.9rem;
height: 2rem;
border-radius: 0.3rem;
margin-right: 1.3rem;
}
#average {
    background: #FFF1F0;
    width: 15rem;
    height: 3.5rem;
    color: #237804;
    font-style: italic;
    border: none;
    font-family: 'Lato', sans-serif;
    margin-left: 3rem;
    margin-top: 1.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

}
@media screen and (max-width: 600px) {
    .container {
        width: 12rem;
        margin: 2rem 8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        width: 13rem;
        font-size: 1rem;
    }
    .inputs1,.inputs2 {
        display: flex;
        font-family: 'Lato', sans-serif;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.8rem;
    
    }   
    .all-btns {
        display: flex;
        flex-direction: column;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 1.8rem;
        margin-left: 10rem;
    }
    #average {
        width: 16rem;
        height: 3rem;
        margin-left: 5.5rem;
        font-size: 1rem;
    }
    #reset {
        margin-right: 3rem;
    }
    #btn {
        margin-top: 1rem;
        margin-right: 10rem;

    }
}